* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }

  .container {
      max-width: 1170px;
      width: 100%;
      padding: 0 15px;
      margin: 0 auto;
  }

  header {
      width: 100%;
      height: 80px;
      background-color: rgb(211, 211, 211, 0.9);
  }

  .header-kiri {
      float: left;
  }
  .header-kiri h2 {
      margin-left: 150px;
      margin-top: 50px;
      color: navy;
  }

  .logo {
      width: 100px;
      margin-top: 5px;
      margin-left: 40px;
      position: fixed;
      top: 0;
      z-index: 10;
  }

  .header-kanan {
      float: right;
      margin: 20px;
  }

  .header-botton {
      background-color: #19194d;
      padding: 10px 20px;
      color: white;
      display: inline-block;
      border-radius: 10px;
      text-align: center;
  }

  .header-botton:hover {
      background-color: whitesmoke;
      border-width: 2px;
      border-style: solid;
      border-color: #19194d;
      border-radius: 10px;
      color: #19194d;
  }
footer {
    margin: 0;
    clear: both;
    padding: 5px;
    background-color: rgb(211, 211, 211, 0.9);
    color: blue;
    text-align: center;
    position:absolute;
    bottom:0px;
    width:100%;  
}

footer p {
    padding-top: 10px;
}
